.conteudo {
  background-color: var(--cor-main);
  border: solid red 2px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo {
  font-size: 1.5rem;
  line-height: 1;
  padding: 20px 20px 10px;
  color: var(--cor-headline);
}

#funcionamento {
  padding-bottom: 20px;
  color: var(--cor-paragraph);
}

.container-main {
  border: solid var(--cor-headline) 1.5px;
  border-radius: 5px;
  padding: 60px;
  box-shadow: 1px 1px 30px 1px grey;
  display: grid;

}

#texto-tarefa {

  /* ttt */
}

#lista-tarefas {

  /* ttt */
}

#criar-tarefa {

  /* border: solid red 5px; */
}

#apaga-tudo {

  /* ttt */
}

#remover-finalizados {

  /* ttt */
}

#salvar-tarefas {

  /* ttt */
}

#mover-cima {

  /* ttt */

}

#mover-baixo {

  /* ttt */

}

#remover-selecionado {

  /* ttt */

}

.completed {
  text-decoration: line-through solid black;
}
